html {
  cursor: url("images/pencil.png") 0 0, pointer;
}

body {
  --grid-size: 10;
  --pixel-size: 50px;

  background: #223;
}

.board {
  display: flex;
  flex-direction: column;
  gap: 50px;
}

.colors {
  display: flex;
  gap: 2px;
}

.color {
  width: var(--pixel-size);
  height: var(--pixel-size);
  background: var(--color);
  border: 4px solid black;
}

.color.selected {
  border-color: gold;
  scale: 1.2;
}

.pixels {
  display: grid;
  grid-template-columns: repeat(var(--grid-size), var(--pixel-size));
  grid-template-rows: repeat(var(--grid-size), var(--pixel-size));
  gap: 2px;
}

.pixel {
  background: var(--color, white);
}
